$borderBox: 2px solid firebrick;
$cardBkgb: linear-gradient(to top, rgb(225, 237, 241), rgba(249, 251, 252, 0.925));

* {
    font-family: 'Questrial', sans-serif;
    font-size: 1.6vw;
    margin: 0;
}

body {
    width: 75%;
    margin: 2em auto;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#menu > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 22%;
    margin: .7em 1em;
    border: $borderBox;
    border-radius: 0 1.3vw;
    padding-top: .6em auto;
    background: $cardBkgb;
}

input[type=number] {
    font-size: 1.7vw;
    text-align: right;
}

.noneWrap {
    margin: .3em auto;
    text-align: center;
    border-bottom: 1px double gray;
}

.noneWrap > * {
    margin: .8em;
}

.none:checked {
    background: url("https://cdn2.iconfinder.com/data/icons/picons-essentials/71/no-24.png");
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.7vw 1vw;
    font-size: .9vw;
}

#menu > div:last-child > .row {
    margin: 2vw 1vw;
}

#menu > div > div > * {
    display: inline;
}

h4 {
    font-size: 2.3vw;
    text-align: center;
    border-bottom: $borderBox;
    border-top-right-radius: 1vw;
    padding-top: .5em;
    padding-bottom: .3em;
    background: linear-gradient(to top right, rgb(97, 14, 33), rgba(99, 9, 30, .7));
    color: white;
}

#breadWrap h4 {
    border-radius: 0;
}


#breadWrap {
    margin: 1em auto;
    background: $cardBkgb;
    border: $borderBox;
    border-radius: 0 0 1em 1em;
    width: 45%;
}

#breadWrap h4 {
    font-size: 1.5em;
}

#bread {
    display: block;
    margin: .5em auto;
    width: 20vw;
    height: 3vw;
    font-size: 1.1em;
    text-align: center;
}

#totalUp {
    margin: 1.4em auto;
    text-align: center;
}

button {
    margin: 0 1.5em 1em;
    font-size: 1.3em;
    padding: .5em 1.2em;
    border-radius: .4em;
    background: linear-gradient(to top right, rgb(219, 183, 0), gold);
    color: white;
    text-shadow: .5px 0 3px rgba(0, 0, 0, 1);
    cursor: pointer;
    outline: none;
}

button:active {
    background: linear-gradient(to top right, rgb(219, 183, 0), rgb(190, 188, 201));
}

#total {
    margin: .5em auto;
    font-size: 2.4em;
    text-shadow: 1px 0 2px rgba(0, 0, 0, .8);
}

@media (max-width: 1070px) {
    body {
        width: 90%;
    }
}

@media (max-width: 850px) {
    body {
        width: 98%;
    }
}

@media (max-width: 640px) {
    body {
        width: 80%;
    }
    #menu {
        flex-direction: column;
    }
    h4, #breadWrap h4  {
        font-size: 4vw;
    }
    label {
        font-size: 3vw;
    }
    input[type=checkbox]{
        width: 4vw;
        height: 4vw;
    }
    input[type=number] {
        font-size: 3vw;
    }
    #breadWrap {
        width: 70%;
    }
    #bread {
        margin: 3vw auto;
        font-size: 3.5vw;
        width: 50%;
        height: auto;
    }
    .noneWrap {
        line-height: 2vw;
    }
}