$borderBox: 2px solid firebrick;

* {
    font-family: 'Questrial', sans-serif;
    font-size: 1.6vw;
    margin: 0;
}

body {
    width: 75%;
    margin: 2em auto;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#menu > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 22%;
    margin: .7em 1em;
    border: $borderBox;
    border-radius: 0 .7em;
    padding: .6em auto;
}

input[type=number] {
    font-size: 1.7vw;
}

.noneWrap {
    margin: .3em auto;
    text-align: center;
    border-bottom: 1px double gray;
}

.noneWrap > * {
    margin: .8em;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.7vw 1vw;
    font-size: .9vw;
}

#menu > div:last-child > .row {
    margin: 2vw 1vw;
}

#menu > div > div > * {
    display: inline;
}

h4 {
    margin-top: .5em;
    font-size: 2.3vw;
    text-align: center;
    border-bottom: $borderBox;
    padding-bottom: .3em;
}


#breadWrap {
    margin: 1em auto;
    border: $borderBox;
    border-radius: 0 0 1em 1em;
    width: 45%;
}

#breadWrap h4 {
    font-size: 1.5em;
}

#bread {
    display: block;
    margin: .5em auto;
    width: 20vw;
    height: 3vw;
    font-size: 1.1em;
    text-align: center;
}

#totalUp {
    margin: 1.4em auto;
    text-align: center;
}

button {
    margin: 0 1.5em 1em;
    font-size: 1.3em;
    padding: .5em 1.2em;
    border-radius: .4em;
    background: linear-gradient(to top right, rgb(204, 197, 103), gold);
    color: white;
    text-shadow: .5px 0 3px rgba(0, 0, 0, 1);
    cursor: pointer;
    outline: none;
}

#sumUp:active {
    background: linear-gradient(to top right, gold, rgb(190, 188, 201));
}

#total {
    margin: .5em auto;
    font-size: 2.4em;
    text-shadow: 1px 0 2px rgba(0, 0, 0, .8);
}

@media (max-width: 1070px) {
    body {
        width: 90%;
    }
}

@media (max-width: 850px) {
    body {
        width: 98%;
    }
}

@media (max-width: 640px) {
    body {
        width: 50%;
        font-size: 3vw;
    }
    #menu {
        flex-direction: column;
    }
}